html, body {
  margin:0px;
  padding:0px;
  background-color:#000000;
  overflow:hidden;
}

#logo { 
	position: absolute;
  right:0px;
  bottom:0px;
}

canvas {
  background-color:#000000;
  position:absolute;
}

#help {
	font-family: Arial,sans-serif;
	font-size: 1.2em;
	color: #000000;
	background-color: #FFFFFF;
	position: absolute;
	padding-bottom: 10px;
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	bottom:10px;
	left:10px;
}
