html, body {
  padding: 0px;
  margin: 0px;
  background-color: #000000;
  overflow: hidden;
}

#logo {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

#badge {
  width:60px;
  height:70px;
  position: absolute;
  left:10px;
  bottom:10px;
}

canvas {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}